<body class="homepage">
  <header>
    <nav>
      <div><img src="https://www.linkpicture.com/q/logo_704.png">
        Toy App</div>
      <div>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
          <li>News</li>
        </ul></div>
      <div>
        <%= link_to "Log in", login_path %>
        <%= link_to "Get Started", signup_path %></div>
    </nav>
  </header>
  <main>
    <img src="https://www.linkpicture.com/q/bg_55.png">
  </main>
</body>
