.post-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;

  .post-container {
    background-color: white;
    height: 550px;
    width: 500px;
    margin: auto;
    padding: 50px;
    border-radius: 10px;

    h1 {
      font-size: 25px;
      font-weight: 700;
    }

    form {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        outline: none;
        border: 1px solid #429f95;
        padding: 0 20px;
      }

      input[type='file'] {
        border: none;
        padding: 0;
        border-radius: 0;
        display: flex;
        align-items: center;
        height: auto;
      }
      input[type='submit'] {
        padding: 0;
        background-color: #429f95;
        border: 1px solid #429f95;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
      }
      .close {
        height: 40px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #429f95;
        color: #429f95;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }

      .image-box {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
      }

      .image-container {
        width: 100px;
        height: 100px;
        position: relative;
        margin-right: 10px;
        background-color: #f7e3dc;


        img {
          width: 100%;
          height: 100%;
          margin: auto;
        }

        i {
          display: block;
          right: 5px;
          top: 5px;
          z-index: 1;
          color: rgb(219, 37, 37);
          position: absolute;
          cursor: pointer;
        }
      }
    }
  }
}
