<turbo-frame id="flash">
  <div id="flash">
    <% flash.each do | message_type, message | %>
      <div class="<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
  </div>
</turbo-frame>
